{{template "base" .}}

{{define "title"}}About{{end}}

{{define "content"}}
    <div class="container">
        <h1>This is the about page</h1>
    </div>
    <div class="container">
        <p>
            
        </p>
    </div>
{{end}}