{{template "base" .}}

{{define "title"}}Admin Dashboard{{end}}

{{define "content"}}
    <div class="container">
        <h1>Secure Page</h1>
    </div>
    <div class="container">
        <p>
            
        </p>
    </div>
{{end}}