{{template "base" .}}

{{define "title"}}General Quaters{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png" alt="room-image"
                class="img-fluid img-thumbnail mx-auto d-block room-image"
                >
            </div>
        </div>
    </div>
{{end}}