{{template "base" .}}
{{define "title"}}Make Reservatiom{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">Make Reservation</h1>

                {{$res := index .Data "reservation"}}
                <form action="/make-reservation" method="post"  novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" id="csrf_token">
                    <div class="form-group mt-5">
                        <label for="first_name"
                            class="{{with .Form.Errors.Get "first_name"}}text-red{{end}}"
                        >First Name:</label>
                        {{with .Form.Errors.Get "first_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input 
                        class="form-control
                            {{with .Form.Errors.Get "first_name"}} is-invalid{{end}}
                        " type="text" name="first_name" id="first_name" value="{{$res.FirstName}}"
                        required autocomplete="off">
                        <div class="valid-feedback">
                                Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid First Name
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <label for="last_name"
                        class="{{with .Form.Errors.Get "last_name"}}text-red{{end}}"
                        >Last Name:</label>
                        {{with .Form.Errors.Get "last_name"}}<label class="text-danger">{{.}}</label>{{end}}
                        <input class="form-control {{with .Form.Errors.Get "last_name"}}is-invalid{{end}}" 
                        type="text" name="last_name" 
                        id="last_name" required autocomplete="off" value="{{$res.LastName}}">
                        <div class="valid-feedback">
                                Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid Last Name
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <label for="email"
                        class="{{with .Form.Errors.Get "email"}}text-red{{end}}"
                        >Email Address:</label>
                        {{with .Form.Errors.Get "email"}}<label class="text-red">{{.}}</label>{{end}}
                        <input class="form-control {{with .Form.Errors.Get "email"}}is-invalid{{end}}" 
                        type="email" name="email" id="email" 
                        required autocomplete="off" value="{{$res.Email}}">
                        <div class="valid-feedback">
                                Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid Email Address
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <label for="phone" class="{{with .Form.Errors.Get "phone"}}text-red{{end}}">Phone Number:</label>
                        {{with .Form.Errors.Get "phone"}}<label class="text-red">{{.}}</label>{{end}}
                        <input class="form-control {{with .Form.Errors.Get "phone"}}is-invalid{{end}}" 
                        type="text" name="phone" id="phone" 
                        required autocomplete="off" value="{{$res.Phone}}">
                        <div class="valid-feedback">
                                Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid Phone Number
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <label for="start_date" class="{{with .Form.Errors.Get "start_date"}}text-red{{end}}">Start Date: </label>
                        {{with .Form.Errors.Get "start_date"}}<label class="text-red">{{.}}</label>{{end}}
                        <input class="form-control {{with .Form.Errors.Get "start_date"}}is-invalid{{end}}" 
                        type="text" name="start_date" id="start_date" 
                        required autocomplete="off" value="{{$res.StartDate}}">
                        <div class="valid-feedback">
                                Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid Invalid Start Date
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <label for="end_date" class="{{with .Form.Errors.Get "end_date"}}text-red{{end}}">End Date:</label>
                        {{with .Form.Errors.Get "end_date"}}<label class="text-red">{{.}}</label>{{end}}
                        <input class="form-control {{with .Form.Errors.Get "end_date"}}is-invalid{{end}}" 
                        type="text" name="end_date" id="end_date" 
                        required autocomplete="off" value="{{$res.EndDate}}">
                        <div class="valid-feedback">
                                Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid End Date
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <label for="room_id" class="{{with .Form.Errors.Get "room_id"}}text-red{{end}}">Rooom ID:</label>
                        {{with .Form.Errors.Get "room_id"}}<label class="text-red">{{.}}</label>{{end}}
                        <input class="form-control {{with .Form.Errors.Get "room_id"}}is-invalid{{end}}" 
                        type="text" name="room_id" id="room_id" 
                        required autocomplete="off" value="{{$res.RoomID}}">
                        <div class="valid-feedback">
                                Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid Room ID
                        </div>
                    </div>
                    <hr>
                    <input type="submit" value="Make Reservation" class="btn btn-outline-primary">
                </form>
                
            </div>
        </div>
    </div>
{{end}}