{{template "base" .}}
{{define "title"}}Make Reservatiom{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Make Reservation</h1>
            </div>
        </div>
    </div>
{{end}}