{{template "base" .}}

{{define "title"}}Search Avaliablity{{end}}

{{define "content"}}
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <h1 class="text-center">Search For Avaliablity</h1>

            </div>
        </div>
    </div>
{{end}}